body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 17px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
  width: 100%;
  height: 35px;
  -webkit-appearance: none;
  padding: 0 15px;
  margin-bottom: 15px;
  line-height: 21px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
}

button, input, select, textarea {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 17px;
}

input {
  line-height: normal;
}

textarea {
  height: auto;
}

input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 20px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 8px 7px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn-positive {
  color: #fff;
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
}

.btn-block {
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  font-size: 18px;
}

button, input, select, textarea {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 17px;
}
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button, select {
  text-transform: none;
}

button {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}